@font-face {
  font-family: 'FreeSans';
  src: url('FreeSans.otf');
}

*
{
	margin:0;
}

body{
	background: #CBCBCB;
	color: black;
	font-size: 16px;
	font-family: sans-serif;
}

#wrapper
{
	width: 1150px;
	margin: 0 auto;
}

header {
	padding: 3vh 1vw;
	margin-bottom: 1vh;
	background-color: #5b7989;
	border-top-right-radius: 1vh;
	border-top-left-radius: 1vh;
	color:white;
	display: flex;
	justify-content: space-between;
}

header h1, nav {
	text-transform: capitalize;
	padding-left: 1%;
	font-size: 1.9em;
	float: left;
	
}

h1 {
   padding: 0 4px;
   text-decoration: none;
   text-shadow: 1px 1px 2px white, 0 0 30px #02010a;
   font-family: 'FreeSans';
   font-variant: small-caps;
   font-weight: bold;
}

/* se modificando El enlace Inicio
----------------------------------------------------------------------*/
.none {
	text-decoration: none;
	color:white;
	text-shadow: 1px 1px 3px white, 0 0 30px #02010a;
    font-family: 'FreeSans';
    font-variant: small-caps;
    font-weight: bold;
}

/* se personaliza los 2 elaces  Paisajes y Retratos
----------------------------------------------------------------------*/

a {
	text-shadow: 1px 1px 3px white, 0 0 30px #080808;
    font-family: 'FreeSans';
    font-variant: small-caps;
    font-weight: bold;
	color:white;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	background-color: grey;
	padding: 2%;
	text-align: center;
	height: 400px;
}

	#columna1
	{
	background-color: #82c3a6;
	margin-top: 50px;
	width: 100%;

	}
	#columna2
	{
	background-color:  #d5c75f;
	margin-top: 50px;
	width: 50%;
	}
	#columna3
	{
	background-color:  #d5c75f;
	margin-top: 50px;
	width: 50%;
	}

	footer{
		font-size: 0.2em;
		border-top: solid 2px #999898;
		padding-top: 1vw;
		margin-top: 1vw;
		text-align: center;
	    clear: both;
	    height: 100%;
	    width: 100%;
	    background-color: #E5E5E5;
	    margin-top: 80%;
	}

	a[href^='#']{
      color: red;
   }

   img[src$='.svg']{
     border-radius: 50%;
     margin-left: 1%;
   }


img[src$='jpg'],img[src$='png']{
  border: 1px solid black;
  border-radius: 500%;
}


@media screen and (max-width: 960px){

	#wrapper
	{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px){

#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	width: 100%;
	}
	#columna2
	{
	width: 100%;
	}
	#columna3
	{
	width: 100%;
	}

	header
	{
	width:100%;
	}
}
