@font-face {
  font-family: 'FreeSans';
  src: url('FreeSans.otf');
}

body{
	background: #CBCBCB;
	color: black;
	font-size: 16px;
	font-family: Indie Flower;
}

#wrapper
{
	width: 93%;
	margin: 0 auto;
}

header {
	padding: 4vh 2vw;
	margin-bottom: 1vh;
	margin-top: 3%;
	background-color: #5b7989;
	border-top-right-radius: 1vh;
	border-top-left-radius: 1vh;
	color:white;
	display: flex;
	justify-content: space-between;
}

header h1, nav {
	text-transform: capitalize;
	padding-left: 1%;
	font-size: 1.9em;
	float: left;
	
}

h1 {
   padding: 0 4px;
   text-decoration: none;
   text-shadow: 1px 1px 2px white, 0 0 30px #02010a;
   font-family: 'FreeSans';
   font-variant: small-caps;
   font-weight: bold;
}

/* se modificando El enlace Inicio
----------------------------------------------------------------------*/
.none {
	text-decoration: none;
	color:white;
	text-shadow: 1px 1px 3px white, 0 0 30px #02010a;
    font-family: 'FreeSans';
    font-variant: small-caps;
    font-weight: bold;
}

/* se personaliza los 2 elaces  Paisajes y Retratos
----------------------------------------------------------------------*/

a {
	text-shadow: 1px 1px 3px white, 0 0 30px #080808;
    font-family: 'FreeSans';
    font-variant: small-caps;
    font-weight: bold;
	color:white;
}

article {
	box-sizing: border-box;
	float:left;
	height: 100%;
	background-color: grey;
	padding: 3%;
	text-align: center;
	height: 100%;
}

#columna1 {
	background-color: #82c3a6;
	margin-top: -1%;
	width: 100%;

}

/* personalizando imagen de #columna1{}
----------------------------------------------------------------------*/
.img-adaptativo1 {
	width:90%;
} 



#columna2 {
	background-color:  #d5c75f;
	width: 50%;
	border: 1px;
}

/* personalizando imagen columna2{}
----------------------------------------------------------------------*/
.img-adaptativo2 {
	-webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    transition: transform 1s ease-out;
	box-shadow:  4px 4px #82c3a6;
	width: 100%;
}

.img-adaptativo2:hover {
	-webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

#columna3 {
	background-color:  #d5c75f;
	width: 50%;
}

/* personalizando imagen columna3{}
----------------------------------------------------------------------*/
.img-adaptativo3 {
	opacity: 0.1;
	transition: opacity 1s;
	box-shadow:  4px 4px #82c3a6;
	width: 100%;
	top: 200%;
}

.img-adaptativo3:hover {
	opacity: 1;
}


footer {
	font-size: 0.2em;
	border-top: solid 2px #999898;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: left;
	clear: both;
	height: 100%;
	width: 100%;
	background-color: #E5E5E5;
	margin-top: 0%;
}

/* agregando contactos y politicas
----------------------------------------------------------------------*/
div#derecha {
	box-sizing: border-box;
	float:left;
	height: 100%;
	padding: 3%;
	text-align: center;
	height: 100%;
}

a[href^='#'] {
      color: red;
 }

img[src$='.svg'] {
	-webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    transition: transform 1s ease-out;
    border-radius: 50%;
    margin-left: 1%;
    box-shadow: 0 0 11px 3px black;
}

img:hover[src$='.svg'] {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}




/*img#iconos-adaptativos[src$='jpg'],img#iconos-adaptativos[src$='png'] {
  border: 1px solid black;
  border-radius: 500%;
}*/


@media screen and (max-width: 960px){

	#wrapper
	{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 640px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px){

#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	width: 100%;
	}
	#columna2
	{
	width: 100%;
	}
	#columna3
	{
	width: 100%;
	}

	header
	{
	width:100%;
	}
}
